@import "~bootstrap/scss/bootstrap";

.card {
  width: 18rem;

  &-columns {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: masonry;
  }
}
